*
{
    margin: 0;
}

body {
    background-color: var(--dark-grey);
}

.container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.button:hover::after {
    left: 0;
    opacity: 1;
}

.button:hover::before{
    left: 0;
    opacity: 1;
}

.button::before {
    border-bottom: 3px solid var(--accent-color);
    border-left: 3px solid var(--accent-color);
    border-top: 3px solid var(--accent-color);
    content: "";
    height: calc(100% - 6px);
    left: 30%;
    opacity: 0;
    position: absolute;
    right: 30%;
    top: 0;
    width: 7px;
    transition: all 0.3s;
}

.button::after {
    border-bottom: 3px solid var(--accent-color);
    border-left: 3px solid var(--accent-color);
    border-top: 3px solid var(--accent-color);
    content: "";
    height: calc(100% - 6px);
    opacity: 0;
    position: absolute;
    right: 30%;
    top: 0;
    width: 7px;
    transition: all 0.3s;
}

.button {
    background-color: rgba(0, 100, 255, 0.1);
    color: rgb(0, 200, 255);
    letter-spacing: 3px;
    position: relative;
    text-transform: uppercase;
    transition: all .3s;
}

.button:hover {
    box-shadow: 0 0 10px rgba(0, 200, 255, 0.8) , 0 0 50px rgba(0, 200, 255, 0.4);
    letter-spacing: 7px;
}

.button:active {
    box-shadow: 0 0 10px rgba(0, 200, 255, 1) , 0 0 50px rgba(0, 200, 255, .8);
    color: rgb(0, 242, 255);
}